body {
    font-family: sans-serif;
  }
  
  form {
    width: auto;
    margin: 2% auto;
    background: #44326b;
  }
  
  .input-field {
    padding: 20px;
    margin-bottom: 10px;
    filter: drop-shadow(1px 1.5px black);
  }
  
  label {
    font-weight: bold;
    width: 50%;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #009688;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }