body {
    font-family: sans-serif;
  }
  
  texto{
    filter: drop-shadow(1.5px 0.5px 10px black);
  }
  form {
    width: auto;
    margin: 20% auto;
    background: #44326b;
    text-align: center;
  }
  
  .input-field {
    padding: 20px;
    position: relative;
    left: center;
    filter: drop-shadow(1px 1.5px black);
  }
  
  label {
    font-weight: bold;
    width: 50%;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  bottom {
    background-color: #009688;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }