body {
    font-family: sans-serif;
    color: white;
  }
  
  texto{
    filter: drop-shadow(1.5px 0.5px 10px black);
  }
  form {
    display:flex;
    width: 50%;
    margin: 20% auto;
    background: #44326b;
    text-align: center;
    border-radius: 2vw;
    padding: 2vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .input-field {
    padding: 20px;
    margin-right: 20px;
    filter: drop-shadow(1px 1.5px black);
  }
  
  label {
    font-weight: bold;
    width: 50%;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #009688;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: -20px;
  }
